<html>
    <head>
        <title>Demo app for Videopoint</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <img src="{{url_for('static', filename='view2.jpg')}}" />
    </body>
</html>